@page "/categories"
@rendermode InteractiveServer

<PageTitle>Categories | BlazingShop</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Categories</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="/categories/create" class="btn btn-primary btn-sm">
                <i class="bi-plus-lg"></i>
                New
            </a>
        </div>
    </div>
</div>

<Grid TItem="GetCategoriesResponse" Class="table table-hover table-bordered table-striped"
    DataProvider="CategoriesDataProvider" AllowPaging="true" AllowSorting="true">
    <GridColumns>
        <GridColumn TItem="GetCategoriesResponse" HeaderText="Id" PropertyName="Id" SortKeySelector="item => item.Id">
            @context.Id
        </GridColumn>
        <GridColumn TItem="GetCategoriesResponse" HeaderText="Title" PropertyName="Title"
            SortKeySelector="item => item.Title">
            @context.Title
        </GridColumn>
        <GridColumn TItem="GetCategoriesResponse">
            <a class="text-secondary" href="/categories/edit/@context.Id" title="Edit">
                <i class="bi bi-pencil-square"></i>
            </a>
        </GridColumn>
    </GridColumns>
</Grid>
