@page "/products"

@using BlazingShop.Data;
@using Microsoft.EntityFrameworkCore

@inject AppDbContext _context;

<PageTitle>Products</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Products</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="products/create" class="btn btn-primary btn-sm"><i class="bi-plus-lg"></i>
                New</a>
        </div>
    </div>
</div>

<ProductTableList Products="_products" />

@code {
    private List<Product> _products = [];

    protected override async Task OnInitializedAsync()
        => _products = await _context
        .Products
        .AsNoTracking()
        .ToListAsync();
}
