@page "/categories/create"

<PageTitle>Create Category</PageTitle>

<h1>New Category</h1>

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="alert alert-danger" role="alert">@_errorMessage</div>
}

<EditForm Model="Model" FormName="@(nameof(CreateCategoryInput))" OnValidSubmit="OnValidateSubmitAsync">
    <DataAnnotationsValidator />
    <div class="row mb-3">
        <div class="col-9">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <InputText id="title" class="form-control" @bind-Value="Model.Title" />
                <ValidationMessage For="@(() => Model.Title)" />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="/categories" class="btn btn-secondary">Cancel</a>
</EditForm>
