@page "/products"

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<ul>
    @foreach (var product in _products)
    {
        <li>@product.Title</li>
    }
</ul>

@code {
    private List<Product> _products = [];

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        var category = new Category(1, $"Categoria 1");

        for (var i = 0; i < 25; i++)
        {
            _products.Add(new Product(i, $"Título {i}", $"Descrição do produto {i}", $"imagem-produto-{i}", i * 13.75M, category));
        }

    }
}
