<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Products)
        {
            <tr>
                <th>@product.Id</th>
                <th>@product.Title</th>
            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public IEnumerable<Product> Products { get; set; } = [];
}
